<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Narayanan</string>
	<string>Jaya</string>
	<string>Kanna</string>
	<string>Chandrika</string>
	<string>Siva</string>
	<string>Raj</string>
	<string>Srini</string>
	<string>Rajini</string>
	<string>Padma</string>
	<string>Swarga</string>
	<string>Params</string>
</array>
</plist>
